.page{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 705px;
    column-gap: 20px;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
  }
  .explanation{
    margin-left: 20px;
    margin-right: 20px;
  
  }
  .assignment{
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: larger;
  }
  
  .body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
  }

  .text-display {
    font-style: bold;
    font-size: 20;
  }

  .prize-display {
    font-style: bold;
    font-size: 15;
    color: darkgreen;
  }

  .cart {
    background-color: rgb(244, 208, 6);
    color: rgb(0, 0, 0);
    border: none;
    height: 32px;
    width: 110;
    border-radius: 18px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }
  .buy-now {
    background-color: rgb(244, 169, 6);
    color: rgb(0, 0, 0);
    border: none;
    height: 32px;
    width: 110;
    border-radius: 18px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }

  .sec2,
  .sec1{
    margin-bottom: 50px;
    margin-top: 50px;
    border: solid;
    border-radius: 1px;
    padding: 20px;
  }
